In [89]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # Display all columns
pd.set_option('display.max_colwidth', None)  # Display full content of each column
pd.set_option('display.width', 2000)

In [90]:
#load the csv file into a dataframe
file = "1. Weather Data.csv"
df = pd.read_csv(file)



#Display the top ten rows
print("Top Ten rows\n", df.head(10),'\n')

#Display the bottom ten rows
print('Bottom ten rows\n', df.tail(10))

Top Ten rows
        Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  Visibility_km  Press_kPa               Weather
0  1/1/2012 0:00    -1.8              -3.9         86                4            8.0     101.24                   Fog
1  1/1/2012 1:00    -1.8              -3.7         87                4            8.0     101.24                   Fog
2  1/1/2012 2:00    -1.8              -3.4         89                7            4.0     101.26  Freezing Drizzle,Fog
3  1/1/2012 3:00    -1.5              -3.2         88                6            4.0     101.27  Freezing Drizzle,Fog
4  1/1/2012 4:00    -1.5              -3.3         88                7            4.8     101.23                   Fog
5  1/1/2012 5:00    -1.4              -3.3         87                9            6.4     101.27                   Fog
6  1/1/2012 6:00    -1.5              -3.1         89                7            6.4     101.29                   Fog
7  1/1/2012 7:00    -1.4              -3.6         85                7            8.0     101.26                   Fog
8  1/1/2012 8:00    -1.4              -3.6         85                9            8.0     101.23                   Fog
9  1/1/2012 9:00    -1.3              -3.1         88               15            4.0     101.20                   Fog

Bottom ten rows
              Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  Visibility_km  Press_kPa Weather
8774  12/31/2012 14:00    -3.4              -5.7         84                6           11.3     100.57    Snow
8775  12/31/2012 15:00    -2.3              -4.6         84                9            9.7     100.47    Snow
8776  12/31/2012 16:00    -1.4              -4.0         82               13           12.9     100.40    Snow
8777  12/31/2012 17:00    -1.1              -3.3         85               19            9.7     100.30    Snow
8778  12/31/2012 18:00    -1.3              -3.1         88               17            9.7     100.19    Snow
8779  12/31/2012 19:00     0.1              -2.7         81               30            9.7     100.13    Snow
8780  12/31/2012 20:00     0.2              -2.4         83               24            9.7     100.03    Snow
8781  12/31/2012 21:00    -0.5              -1.5         93               28            4.8      99.95    Snow
8782  12/31/2012 22:00    -0.2              -1.8         89               28            9.7      99.91    Snow
8783  12/31/2012 23:00     0.0              -2.1         86               30           11.3      99.89    Snow

In [92]:
# Number of rows and columns
df.shape

(8784, 8)

In [93]:
# Records where weather was excatly clear
mainly_clear = df[df['Weather'] == 'Mainly Clear']
mainly_clear

             Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  Visibility_km  Press_kPa       Weather
36      1/2/2012 12:00     1.7              -6.2         56               48           24.1      99.21  Mainly Clear
60      1/3/2012 12:00   -14.9             -22.6         52               20           24.1     101.34  Mainly Clear
61      1/3/2012 13:00   -15.1             -22.4         54               22           24.1     101.34  Mainly Clear
62      1/3/2012 14:00   -14.9             -22.9         50               22           24.1     101.38  Mainly Clear
63      1/3/2012 15:00   -14.8             -22.2         53               19           24.1     101.44  Mainly Clear
...                ...     ...               ...        ...              ...            ...        ...           ...
8753  12/30/2012 17:00   -12.1             -15.8         74               28           25.0     101.26  Mainly Clear
8754  12/30/2012 18:00   -12.6             -16.0         76               24           25.0     101.36  Mainly Clear
8755  12/30/2012 19:00   -13.4             -16.5         77               26           25.0     101.47  Mainly Clear
8757  12/30/2012 21:00   -13.8             -16.5         80               20           25.0     101.50  Mainly Clear
8758  12/30/2012 22:00   -13.7             -16.3         81               19           25.0     101.54  Mainly Clear

[2106 rows x 8 columns]

In [94]:
# number of times when weather was mainly clear
mainly_clear['Weather'].value_counts()

Weather
Mainly Clear    2106
Name: count, dtype: int64

In [95]:
# Number of times when wind speed was exactly 4km/h
w_speed_4 = df[df['Wind Speed_km/h'] == 4]
w_speed_4['Wind Speed_km/h'].value_counts()

Wind Speed_km/h
4    474
Name: count, dtype: int64

In [96]:
# Check if there are null values
df.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [97]:
# Renmaming column 'Weather' to 'Weather_Condition
df.rename(columns={'Weather': 'Weather_Condition'})

             Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  Visibility_km  Press_kPa     Weather_Condition
0        1/1/2012 0:00    -1.8              -3.9         86                4            8.0     101.24                   Fog
1        1/1/2012 1:00    -1.8              -3.7         87                4            8.0     101.24                   Fog
2        1/1/2012 2:00    -1.8              -3.4         89                7            4.0     101.26  Freezing Drizzle,Fog
3        1/1/2012 3:00    -1.5              -3.2         88                6            4.0     101.27  Freezing Drizzle,Fog
4        1/1/2012 4:00    -1.5              -3.3         88                7            4.8     101.23                   Fog
...                ...     ...               ...        ...              ...            ...        ...                   ...
8779  12/31/2012 19:00     0.1              -2.7         81               30            9.7     100.13                  Snow
8780  12/31/2012 20:00     0.2              -2.4         83               24            9.7     100.03                  Snow
8781  12/31/2012 21:00    -0.5              -1.5         93               28            4.8      99.95                  Snow
8782  12/31/2012 22:00    -0.2              -1.8         89               28            9.7      99.91                  Snow
8783  12/31/2012 23:00     0.0              -2.1         86               30           11.3      99.89                  Snow

[8784 rows x 8 columns]

In [58]:
# Mean visibility of the dataset
mean_visibility = df['Visibility_km'].mean()
mean_visibility

27.664446721311478

In [68]:
#Number of records where wind speed is greater then 24 and visibility equal to 25

# wind speed greater than 24
w_speed_24 = df[df['Wind Speed_km/h'] > 24] 

# wind speed greater than 24 and visibility equal to 25
w_24_v_25 = w_speed_24[w_speed_24['Visibility_km'] == 25]
w_24_v_25['Visibility_km'].value_counts()

Visibility_km
25.0    308
Name: count, dtype: int64

In [73]:
# Mean value for each column
numeric_df = df.select_dtypes(include='number')
numeric_df.mean()

Temp_C                8.798144
Dew Point Temp_C      2.555294
Rel Hum_%            67.431694
Wind Speed_km/h      14.945469
Visibility_km        27.664447
Press_kPa           101.051623
dtype: float64

In [82]:
# Weatheris clear and relative humidity is greater than 50 and visibility is above 40
weather_clear = df[df['Weather'] == 'Clear']  #Clear weather condition

condition1 = weather_clear['Rel Hum_%'] > 50
condition2 = weather_clear['Visibility_km'] > 40

clear_relative_or_visibility = weather_clear[condition1 | condition2]
clear_relative_or_visibility

             Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  Visibility_km  Press_kPa Weather
114     1/5/2012 18:00    -7.1             -14.4         56               11           25.0     100.71   Clear
115     1/5/2012 19:00    -9.2             -15.4         61                7           25.0     100.80   Clear
116     1/5/2012 20:00    -9.8             -15.7         62                9           25.0     100.83   Clear
117     1/5/2012 21:00    -9.0             -14.8         63               13           25.0     100.83   Clear
241     1/11/2012 1:00   -10.7             -17.8         56               17           25.0     101.49   Clear
...                ...     ...               ...        ...              ...            ...        ...     ...
8646   12/26/2012 6:00   -13.4             -14.8         89                4           25.0     102.47   Clear
8698  12/28/2012 10:00    -6.1              -8.6         82               19           24.1     101.27   Clear
8713   12/29/2012 1:00   -11.9             -13.6         87               11           25.0     101.31   Clear
8714   12/29/2012 2:00   -11.8             -13.1         90               13           25.0     101.33   Clear
8756  12/30/2012 20:00   -13.8             -16.5         80               24           25.0     101.52   Clear

[1220 rows x 8 columns]

In [88]:
# Number of weather conditions that include snow
weather_snow =df[df['Weather'] == 'Snow']
weather_snow['Weather'].value_counts()

Weather
Snow    390
Name: count, dtype: int64